<?xml version="1.0"?>
<launch>
	<arg name="debug" default="false" />
	<!-- UAV0 -->
	<group ns="uav0">
		<param name="debug" value="$(arg debug)" />
		<node name="move_uav_node_0" pkg="move_uav" type="move_uav_node" output="screen" />
	</group>
	<!-- UAV1 -->
	<group ns="uav1">
		<param name="debug" value="$(arg debug)" />
		<node name="move_uav_node_1" pkg="move_uav" type="move_uav_node" output="screen" />
	</group>
	<!-- UAV2 -->
	<group ns="uav2">
		<param name="debug" value="$(arg debug)" />
		<node name="move_uav_node_2" pkg="move_uav" type="move_uav_node" output="screen" />
	</group>
</launch>
