<?xml version="1.0"?>
<launch>
    <!-- Use gazebo simulation time -->
    <param name="/use_sim_time" value="true" />
    <env name="PX4_SIM_SPEED_FACTOR" value="5.0" />

    <!-- UAV inital positions -->
    <arg name="x_0" default="0" />
    <arg name="y_0" default="0" />
    <arg name="Yaw_0" default="0" />

    <arg name="x_1" default="1" />
    <arg name="y_1" default="1" />
    <arg name="Yaw_1" default="45" />

    <arg name="x_2" default="2" />
    <arg name="y_2" default="2" />
    <arg name="Yaw_2" default="90" />

    <arg name="x_3" default="3" />
    <arg name="y_3" default="3" />
    <arg name="Yaw_3" default="135" />

    <arg name="flying_altitude" default="10" />

    <!-- vehicle model and world -->
    <arg name="est" default="ekf2" />
    <arg name="vehicle" default="iris" />
    <arg name="world" default="$(find uav_gazebo)/worlds/empty.world" />

    <!-- UAV1 -->
    <group ns="uav1">
        <!-- MAVROS and vehicle configs -->
        <arg name="ID" value="1" />
        <arg name="fcu_local_port" default="$(eval 14580 + arg('ID'))" />
        <arg name="fcu_remote_port" default="$(eval 14540 + arg('ID'))" />
        <arg name="fcu_url" default="udp://:$(arg fcu_remote_port)@localhost:$(arg fcu_local_port)" />
        <arg name="x" value="$(arg x_1)" />
        <arg name="y" value="$(arg y_1)" />
        <arg name="z" value="0" />
        <arg name="R" value="0" />
        <arg name="P" value="0" />
        <arg name="Y" value="$(arg Yaw_1)" />
        <!-- PX4 SITL and vehicle spawn -->
        <include file="$(find px4)/launch/single_vehicle_spawn.launch">
            <arg name="x" value="$(arg x)" />
            <arg name="y" value="$(arg y)" />
            <arg name="z" value="$(arg z)" />
            <arg name="R" value="$(arg R)" />
            <arg name="P" value="$(arg P)" />
            <arg name="Y" value="$(arg Y)" />
            <arg name="vehicle" value="$(arg vehicle)" />
            <arg name="mavlink_udp_port" value="$(eval 14560 + arg('ID'))" />
            <arg name="mavlink_tcp_port" value="$(eval 4560 + arg('ID'))" />
            <arg name="ID" value="$(arg ID)" />
            <arg name="gst_udp_port" value="$(eval 5600 + arg('ID'))" />
            <arg name="video_uri" value="$(eval 5600 + arg('ID'))" />
            <arg name="mavlink_cam_udp_port" value="$(eval 14530 + arg('ID'))" />
        </include>
        <!-- MAVROS -->
        <include file="$(find mavros)/launch/px4.launch">
            <arg name="fcu_url" value="$(arg fcu_url)" />
            <arg name="gcs_url" value="" />
            <arg name="tgt_system" value="$(eval 1 + arg('ID'))" />
            <arg name="tgt_component" value="1" />
        </include>

        <!-- UAV Controller -->
        <node pkg="uav_controller" type="uav_controller_node" name="uav_controller" output="screen">
            <!--Params specific for Iris copter-->
            <param name="attctrl_constant" value="0.3" />
            <param name="normalizedthrust_constant" value="0.062" />
            <param name="normalizedthrust_offset" value="0.1" />
            <param name="Kp_x" value="5.0" />
            <param name="Kp_y" value="5.0" />
            <param name="Kp_z" value="3.0" />
            <param name="Kv_x" value="5.0" />
            <param name="Kv_y" value="5.0" />
            <param name="Kv_z" value="3.0" />
            <param name="initTargetPos_z" value="$(arg flying_altitude)" />
            <param name="auto_takeoff" value="true" />
            <param name="target_yaw" value="$(arg Yaw_1)" />
        </node>
    </group>


</launch> <!-- to add more UAVs (up to 10):
Increase the id
Change the name space
Set the FCU to default="udp://:14540+id@localhost:14550+id"
Set the malink_udp_port to 14560+id) -->