<?xml version="1.0"?>
<launch>
    <!-- Use gazebo simulation time -->
    <param name="/use_sim_time" value="true" />

    <!-- UAV0 -->
    <group ns="uav0">
        <node pkg="uav_collision_avoidance" type="uav_collision_avoidance_node.py" name="uav_collision_avoidance" output="screen">
            <param name="enabled_at_start" value="true" />
        </node>
    </group>

    <!-- UAV1 -->
    <group ns="uav1">
        <node pkg="uav_collision_avoidance" type="uav_collision_avoidance_node.py" name="uav_collision_avoidance" output="screen">
            <param name="enabled_at_start" value="true" />
        </node>
    </group>

    <!-- UAV2 -->
    <group ns="uav2">
        <node pkg="uav_collision_avoidance" type="uav_collision_avoidance_node.py" name="uav_collision_avoidance" output="screen">
            <param name="enabled_at_start" value="true" />
        </node>
    </group>

    <!-- UAV3 -->
    <group ns="uav3">
        <node pkg="uav_collision_avoidance" type="uav_collision_avoidance_node.py" name="uav_collision_avoidance" output="screen">
            <param name="enabled_at_start" value="true" />
        </node>
    </group>

</launch> 